.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

li {
    padding: 5px;
    justify-content: space-between;
    list-style: none;
    border: 1px solid rgb(212, 203, 180);
}

.likes{
    background: rgb(212, 203, 180);
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes>img{
    width: 20px;
}

.likes>p{
    font-size: 20px;
    font-weight: bold;
}

.links{
    display: flex;
    align-items: center;
    justify-content: start;
}

.links>div>p {
    font-size: 20px;
    font-weight: bold;
}

.creator {
    color: orange;
}

.channels {
    display: flex;
    align-items: center;
    justify-content: end;
}

.channels>span {
    border-radius: 5px;
    font-weight: bold;
    color: white;
    padding: 5px;
}